<?xml version="1.0"?>
<robot name="service_boat" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="service_boat_mesh_file" value="file://$(find usbl_tools)/urdf/service_boat.dae"/>
  <xacro:property name="mount_mesh_file" value="file://$(find usbl_tools)/urdf/usbl_sbg_mount.dae"/>

  <link name="$(arg robot_namespace)/base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${service_boat_mesh_file}" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="$(arg robot_namespace)/sbg_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${mount_mesh_file}" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="$(arg robot_namespace)/fiducials_center_link"/>
  <link name="$(arg robot_namespace)/usbl_link"/>

  <joint name="$(arg robot_namespace)/sbg_joint" type="fixed">
    <origin xyz="0.0 -1.1 1.8" rpy="3.14159 0 0" />
    <parent link="$(arg robot_namespace)/base_link"/>
    <child link="$(arg robot_namespace)/sbg_link"/>
  </joint>

  <joint name="$(arg robot_namespace)/fiducials_joint" type="fixed">
    <origin xyz="0.69 0.0 2.13" rpy="0 0 0" />
    <parent link="$(arg robot_namespace)/sbg_link"/>
    <child link="$(arg robot_namespace)/fiducials_center_link"/>
  </joint>

  <joint name="$(arg robot_namespace)/usbl_joint" type="fixed">
    <origin xyz="0.345 0 2.13" rpy="3.14159 0 -1.5707" />
    <parent link="$(arg robot_namespace)/sbg_link"/>
    <child link="$(arg robot_namespace)/usbl_link"/>
  </joint>

</robot>
