<launch>
    <!-- Declare Launch Arguments -->
    
    <arg name="grid_size" default="50"/>
    <arg name="degree_padding" default="0.01"/>
    <arg name="zoom_level" default="17"/>
    <arg name="mission_file" default="None"/>
    <arg name="offline_mode" default="False"/>
    <arg name="use_ahrs_rot" default="False"/>
    <arg name="debug" default="False"/>

    <node pkg="usbl_tools" exec="watertag_vis" name="watertag_tracking_gui" output="screen">
        <param name="grid_size" value="$(var grid_size)"/>
        <param name="degree_padding" value="$(var degree_padding)"/>
        <param name="zoom_level" value="$(var zoom_level)"/>
        <param name="mission_file" value="$(var mission_file)"/>
        <param name="offline_mode" value="$(var offline_mode)"/>
        <param name="use_ahrs_rot" value="$(var use_ahrs_rot)"/>
        <param name="debug" value="$(var debug)"/>
    </node>

</launch>
